@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color: #97edaa;

  --dark-10: #0b0b0b;
  --dark-20: #101010;
  --dark-30: #1f1f1f;

  --white: #ffffff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 0.1px solid white; */
}

.green {
  color: var(--brand-color);
}

.white {
  color: var(--white);
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-48 {
  font-size: 48px;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: var(--dark-10);
}

header, main, .text-footer, .line {
  width: 60%;
}

header, main, section {
  margin-bottom: 60px;
}

footer {
  background-color: var(--dark-20);
  height: 100px;
}

.line {
  border: 2px solid var(--dark-20);
}

.globe-phone {
  max-width: 350px;
}

.curriculum-btn {
  background-color: var(--brand-color);
  border-radius: 4px;
  max-width: 200px;
  border: none;
  padding: 5px 0;
}

.icon-sm {
  width: 32px;
}

.circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid var(--dark-30);
  background-color: var(--dark-20);
}

.card {
  border: none;
}

.card-body, .card-footer {
  background-color: var(--dark-10);
}

.card-img-top {
  background-color: var(--dark-20);
  height: 200px;
  width: 100%;
  text-align: center;
  align-content: center;
}

.project-btn {
  background-color: var(--brand-color);
  width: 210px;
  border-color: var(--brand-color);
  border-radius: 4px;
  padding: 5px 0;
}

.repository-btn {
  background-color: var(--dark-20);
  width: 210px;
  border-color: var(--brand-color);
  border-radius: 4px;
  padding: 5px 0;
}

.services-card {
  height: 240px;
  width: 350px;
  border: 1px solid;
  border-color: var(--dark-20);
  border-bottom-color: var(--brand-color);
}

.img-md {
  width: 56px;
}

.img-lx {
  width: 80px;
}

.container-hability {
  width: 180px;
  height: 150px;
  background-color: var(--dark-20);
  border: 1px solid var(--dark-30);
}
