@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

:root {
  --brand-color: #e07b67;

  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;

  --gray: #afabb6;
  --white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
}

h1, h2 {
  font-family: "Space Grotesk", sans-serif;
}

span {
  color: var(--brand-color);
}

#menu {
  background-color: var(--dark-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

input {
  background-color: var(--dark-30);
  color: var(--gray);
  border-radius: 8px;
  border: 2px solid;
  width: 90%;
  height: 3rem;
  padding-left: 1.5rem;
}

#cards {
  background-color: var(--dark-10);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0rem 2rem 0rem;
}

.card {
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  gap: 1rem;
  width: 90%;
  background-color: var(--dark-20);
}
.card-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
}
.card-text {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 0.7rem;
  flex-direction: column;
}

.icon-heart {
  width: 1.3rem;
}