@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --brand-color: #ffbd48;

  --dark: #2e2e2e;

  --gray: #fefbf4;

  --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #7F9183;
}

header {
    max-height: 600px;
    background-image: url('/images/image-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom 20%;
    background-position-x: center;
}

.header-img {
    max-width: 50%;
    max-height: 50%;
}

.card-border {
    border: 1px solid var(--dark);
    border-radius: 16px;
    background-color: var(--gray);
    width: 325px;
    height: 300px;
    transform: translateY(40px);
}

.card {
    border: none;
    background-color: transparent;
    width: 215px;
    height: 360px;
    position: absolute;
    transform: translateY(-47px);
}

.card-img-top {
    transform: translateX(50px);
}

.pizza-img {
    width: 120px;
    height: 120px;
}

.icon-favorite {
    width: 32px;
    height: 32px;
    transform: translateY(-15px);
}

.buy-btn {
    background-color: var(--brand-color);
    border-radius: 25px;
    border: none;
}

.footer-container-text {
    max-width: 700px;
}

.footer-img {
    width: 330px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .footer-img {
        width: 700px;
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .footer-img {
        width: 490px;
        height: 500px;
        object-fit: cover;
    }
}

.footer-btn {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background: var(--brand-color);
    border: 1px solid var(--brand-color);
    font-weight: 600;
}

.row > * {
    padding: 0 !important;
}

.price, .footer-about-title {
    font-size: 2rem;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.font-18 {
    font-size: 18px;
}