@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --brand-color: #ffbd48;

  --dark: #2e2e2e;

  --gray: #fefbf4;

  --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

header {
    max-height: 600px;
    background-image: url('/images/image-1.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100vw;
    /* background-position-y: bottom 20%;
    background-position-x: center; */
}

main {
    background-image: url('./images/bg.png');
    background-size: contain;
}

.card {
    border: 1px solid var(--brand-color);
}

.pizza-img {
    width: 125px;
    height: 125px;
}

.icon-favorite {
    width: 32px;
    height: 32px;
}

.buy-btn {
    background-color: var(--brand-color);
    border-radius: 25px;
    border: none;
}

.row > * {
    padding: 0 !important;
}

.price {
    font-size: 2rem;
}